.box1{
    background-color: #17293f;
    width: 100%;   
    height: 60px;
}
body{
    background-color: #0c1620}
    #title{
        font-family: fantasy;
        
    }
    .rb{
        font-size: 50px;
        
        text-align :center;
        padding:0;
        -webkit-animation: animatedBackground_b 15s linear infinite alternate;
            
    }
    
    @keyframes animatedBackground_b{
        0% {color: #ff8b00}
        10% {color: #e8ff00}
        20% {color: #5dff00}
        30% {color: #00ff2e}
        40% {color: #00ffb9}
        50% {color: #00b9ff}
        60% {color: #002eff}
        70% {color: #5d00ff}
        80% {color: #e800ff}
        90% {color: #ff008b}
        100% {color: #ff0000} }
 .box2{
            background-color: #111929;
            width: 100%;   
            height: 800px;
            align-content: center;
        }
        .mtitle1{
            color: var(--text-color);
            font-size: var(--font-font-size);
            font-family: 'Times New Roman', Times, serif;
            text-align :center;
            padding:0;
            
        }
        :root{
            --text-color:#69cf15;
            --font-font-size: 40px;
                    }
                    .box2a1{
                        background-color: #1867c0;
                        width: 320px;   
                        height: 60px;
                        align-content: center;
                        padding: 4px;
                    }
                    .box2a2{
                        background-color: #1449b9;
                        width: 320px;  
                        height: 60px;
                        align-content: center;
                        padding: 4px;
                    }
                    .box2a3{
                        background-color: #371ab6;
                        width: 320px;    
                        height: 60px;
                        align-content: center;
                        padding: 4px;
                    }
                    .box2a4{
                        background-color: #2013db;
                        width: 320px;  
                        height: 60px;
                        align-content: center;
                        padding: 4px;
                    }
              .box2a1:hover{
                        background-color: 	#45f310;
                   }
                   .box2a2:hover{
                    background-color: 	#45f310;
               }
               .box2a3:hover{
                background-color: 	#45f310;
           }
           .box2a4:hover{
            background-color: 	#45f310;
       }
       .box2a1:active{
        background-color: 	#c2f310;
       }
       .box2a2:active{
        background-color: 	#c2f310;
       }
       .box2a3:active{
        background-color: 	#c2f310;
       }
       .box2a4:active{
        background-color: 	#c2f310;
       }
       ::selection{background-color: 	#d31460;}
