*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(16, 21, 88);
}
.ball {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.crball{
    position: relative;
    display: flex;
}
.crball span {
position: relative;
width: 20px;
height: 20px;
background: rgb(228, 231, 7);
margin: 0 4px;
border-radius: 50%;
box-shadow: 0 0 0 10px rgba(230, 255, 1, 0.534),
 0 0 30px rgb(209, 255, 2),
 0 0 100px rgba(255, 231, 93, 0.904) ;
 animation: animate 15s linear infinite;
 animation-duration: calc(100s / var(--i) );
}
.crball span:nth-child(even)
{
    background: rgb(231, 153, 7);
    box-shadow: 0 0 0 10px rgba(255, 238, 1, 0.308),
 0 0 40px rgb(255, 166, 2),
 0 0 100px rgba(255, 144, 93, 0.904) ;
}
@keyframes animate
{
    0% 
    {
        transform: translateY(100vh) scale(0);
        
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
        
    }
}






.box1{
    background-image:linear-gradient(10deg,#bf74e2,#abaf73);
    width: 100%;   
    height: 60px;
}
#title{
    font-family: fantasy;
    
}
.rb{
    font-size: 50px;
    
    text-align :center;
    padding:0;
    -webkit-animation: animatedBackground_b 25s linear infinite alternate;
        
}

@keyframes animatedBackground_b{
    0% {color: #ff8b00}
    10% {color: #e8ff00}
    20% {color: #5dff00}
    30% {color: #00ff2e}
    40% {color: #00ff88}
    50% {color: #0952f0}
    60% {color: #002eff}
    70% {color: #5d00ff}
    80% {color: #e800ff}
    90% {color: #ff008b}
    100% {color: #ff0000} }
.box2{
        background-image:linear-gradient(0,#b269e2,#c7c05c);
        width: 50%;   
        height: 800px;
        align-content: center;
        border-style: inset;
        
border-radius: 10px;
border-color: #bf38fd;
margin-left: 25%;
margin-top: 3%;
    }
    .mtitle1{
        text-align: center;
        font-size: var(--font-font-size);
        font-family: 'Times New Roman', Times, serif;
        Text-decoration: none;
        padding:0;
        -webkit-animation: animatedBackground_a 20s linear infinite alternate;
        transition: all 1s;
        
    }
    
    @keyframes animatedBackground_a{
        0% {color: #f5dc01}
        10% {color: #fffb00}
        20% {color: #fbff00}
        30% {color: #eeff00}
        40% {color: #bbff00}
        50% {color: #9409f0}
        60% {color: #ba09f0}
        70% {color: #f009e4}
        80% {color: #f009be}
        90% {color: #ff9900}
        100% {color: #ffbb00} 
        
    }
    .mtitle1 :hover {
        -webkit-animation: a 20s linear infinite alternate;
    }
    @keyframes a{
        0% {color: #01f597}
        100% {color: #00ffea}
    }
    :root{
        --text-color:#13e213;
        --font-font-size: 150%;
        --margin-margin-left:35% ;
        --clolor-2mau:linear-gradient(60deg,#11e9de,#06086b);
        --clolor-mau2:linear-gradient(60deg,#0952da,#48adcc);
        --clolor-mau3:linear-gradient(60deg,#3a13e4,#0aebf3);
        --font-sizebox:30px;
        --color-maukhung:#5dccff;
                }
                .box2a1{
                    
                    width: 30%;  
                    height: var(--font-sizebox);
                    border-bottom-width: 2px;
                    border-top-width: 2px;
                    border-left-width: 2px;
                    border-right-width: 2px;
                    border-color: var(--color-maukhung);
                    border-style: solid;
                    padding: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                   flex-direction: column;
                   margin-top: 20%;
                    margin-bottom: 40px ;
                    margin-left: var(--margin-margin-left);
                    transition-property: all;
                    transition-duration: 2s;

                }
                .box2a2{
                    background-image: var(--clolor-2mau);
                    width: 30%;  
                    height: var(--font-sizebox);
                    border-bottom-width: 2px;
                    border-top-width: 2px;
                    border-left-width: 2px;
                    border-right-width: 2px;
                    border-color:var(--color-maukhung);
                    border-style: solid;
                    margin-top: 20px;
                    margin-bottom: 40px ;
                    margin-left: var(--margin-margin-left);
                    padding: 4px;
                    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
                }
                .box2a3{
                    background-image: var(--clolor-2mau);
                    width: 30%;  
                    height:  var(--font-sizebox);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 4px;
                    border-bottom-width: 2px;
                    border-top-width: 2px;
                    border-left-width: 2px;
                    border-right-width: 2px;
                    border-color: var(--color-maukhung);
                    border-style: solid;
                    margin-top: 20px;
                    margin-bottom: 40px ;
                    margin-left: var(--margin-margin-left);}
                .box2a4{
                    background-image: var(--clolor-2mau);
                    width: 30%; 
                    height: var(--font-sizebox);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    padding: 4px;
                    border-bottom-width: 2px;
border-top-width: 2px;
border-left-width: 2px;
border-right-width: 2px;
border-color: var(--color-maukhung);
border-style: solid;
margin-top: 50px;
                    margin-bottom: 40px ;
                    margin-left: var(--margin-margin-left);
transition: all 5s;
                }
                .box2a1:hover{
                    background-image: var(--clolor-mau2);
               }
               .box2a2:hover{
                background-image: var(--clolor-mau2);
           }
           .box2a3:hover{
            background-image: var(--clolor-mau2);
       }
       .box2a4:hover{
        background-image: var(--clolor-mau2);
   }
   .box2a1:active{
    background-image: var(--clolor-mau3);}
   .box2a2:active{
    background-image: var(--clolor-mau3);
   }
   .box2a3:active{
    background-image: var(--clolor-mau3);
   }
   .box2a4:active{
    background-image: var(--clolor-mau3);
   }
   ::selection{background-color: #ccc7c7;}
   .box2a5{
       background-image: linear-gradient(45deg,#a59017,#a130b8);
      width: 90%;
      height: 30%;
      padding: 0;
      border-color: #1d041f;
      border-top-width: 2px;
      border-left-width: 2px;
      border-right-width: 2px;
      border-style: solid;
      margin-left: 5%;

   }
   .mtitle2{
       color: #0d1b5a;
       text-align: center;
       font-size: var(--font-font-size);
       font-family: 'Times New Roman', Times, serif;

       padding:0;
   }
   .box2a5b1{
    background-image: linear-gradient(45deg,#c000fa,#d1e271);
    width: 30%;
    height: 10%;
    border-color: #04061f;
   
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-style:inset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   }
   .title1{
color: #070727;
font-size: 25px;
font-family: 'Times New Roman', Times, serif;
   }
