.box1{
    background-image:linear-gradient(10deg,#94ce0c,#df9711);
    width: 100%;   
    height: 60px;
}
body{
    background-image: url(https://genk.mediacdn.vn/2019/8/16/photo-1-15659452940921728283136.jpg);
    background-repeat: no-repeat;
background-size: cover;
}
    #title{
        font-family: fantasy;
        
    }
    .rb{
        font-size: 50px;
        
        text-align :center;
        padding:0;
        -webkit-animation: animatedBackground_b 15s linear infinite alternate;
            
    }
    
    @keyframes animatedBackground_b{
        0% {color: #ff8b00}
        10% {color: #e8ff00}
        20% {color: #5dff00}
        30% {color: #00ff2e}
        40% {color: #00ff88}
        50% {color: #0952f0}
        60% {color: #002eff}
        70% {color: #5d00ff}
        80% {color: #e800ff}
        90% {color: #ff008b}
        100% {color: #ff0000} }
 .box2{
            background-image:linear-gradient(0,#86d408,#e28d0c);
            width: 50%;   
            height: 800px;
            align-content: center;
border-radius: 10px;
border-color: #00ff2e;
margin-left: 25%;
        }
        .mtitle1{
            text-align: center;
            font-size: var(--font-font-size);
            font-family: 'Times New Roman', Times, serif;
            Text-decoration: none;
            padding:0;
            -webkit-animation: animatedBackground_a 10s linear infinite alternate;
            
        }
        
        @keyframes animatedBackground_a{
            0% {color: #5dff00}
            10% {color: #5dff00}
            20% {color: #00ff2e}
            30% {color: #00ff2e}
            40% {color: #73ff00}
            50% {color: #24f009}
            60% {color: #09f02f}
            70% {color: #09f071}
            80% {color: #09f097}
            90% {color: #9dff00}
            100% {color: #3cff00} 
            
        }
        :root{
            --text-color:#13e213;
            --font-font-size: 150%;
            --margin-margin-left:35% ;
            --clolor-2mau:linear-gradient(60deg,#7c620c,#2e6b06);
            --clolor-mau2:linear-gradient(60deg,#6eda09,#dabb0c);
            --clolor-mau3:linear-gradient(60deg,#24fa08,#fffb08);
                    }
                    .box2a1{
                        background-image: var(--clolor-2mau);
                        width: 30%;  
                        height: 60px;
                        border-bottom-width: 2px;
                        border-top-width: 2px;
                        border-left-width: 2px;
                        border-right-width: 2px;
                        border-color: #106fc9;
                        border-style: solid;
                        padding: 4px;
                        display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
                       margin-top: 20px;
                        margin-bottom: 40px ;
                        margin-left: var(--margin-margin-left);
                        

                    }
                    .box2a2{
                        background-image: var(--clolor-2mau);
                        width: 30%;  
                        height: 60px;
                        border-bottom-width: 2px;
                        border-top-width: 2px;
                        border-left-width: 2px;
                        border-right-width: 2px;
                        border-color: #106fc9;
                        border-style: solid;
                        margin-top: 20px;
                        margin-bottom: 40px ;
                        margin-left: var(--margin-margin-left);
                        padding: 4px;
                        display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
                    }
                    .box2a3{
                        background-image: var(--clolor-2mau);
                        width: 30%;  
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 4px;
                        border-bottom-width: 2px;
                        border-top-width: 2px;
                        border-left-width: 2px;
                        border-right-width: 2px;
                        border-color: #106fc9;
                        border-style: solid;
                        margin-top: 20px;
                        margin-bottom: 40px ;
                        margin-left: var(--margin-margin-left);}
                    .box2a4{
                        background-image: var(--clolor-2mau);
                        width: 30%; 
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 4px;
                        border-bottom-width: 2px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: #106fc9;
    border-style: solid;
    margin-top: 50px;
                        margin-bottom: 40px ;
                        margin-left: var(--margin-margin-left);
    
                    }
                    .box2a1:hover{
                        background-image: var(--clolor-mau2);
                   }
                   .box2a2:hover{
                    background-image: var(--clolor-mau2);
               }
               .box2a3:hover{
                background-image: var(--clolor-mau2);
           }
           .box2a4:hover{
            background-image: var(--clolor-mau2);
       }
       .box2a1:active{
        background-image: var(--clolor-mau3);}
       .box2a2:active{
        background-image: var(--clolor-mau3);
       }
       .box2a3:active{
        background-image: var(--clolor-mau3);
       }
       .box2a4:active{
        background-image: var(--clolor-mau3);
       }
       ::selection{background-color: #0a7a46;}
       .box2a5{
           background-image: linear-gradient(45deg,#24fa08,#08ff8c);
          width: 90%;
          height: 40%;
          padding: 0;
          border-color: #04061f;
          border-top-width: 2px;
          border-left-width: 2px;
          border-right-width: 2px;
          border-style: solid;
          margin-left: 5%;

       }
       .mtitle2{
           color: #0d1b5a;
           text-align: center;
           font-size: var(--font-font-size);
           font-family: 'Times New Roman', Times, serif;
 
           padding:0;
       }
       .box2a5b1{
        background-image: linear-gradient(45deg,#00fa92,#08ffea);
        width: 40%;
        height: 10%;
        border-color: #04061f;
        border-top-width: 2px;
        border-left-width: 2px;
        border-right-width: 2px;
        border-style: solid;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       }
 
