.box1{
    background-image:linear-gradient(10deg,#08235f,#19077c);
    width: 100%;   
    height: 60px;
}
body{
    background-color:#04061f ;}
    #title{
        font-family: 'Times New Roman', Times, serif;
        
    }
    .rb{
        font-size: 50px;
        font-family: 'Times New Roman', Times, serif;
        text-align :center;
        padding:0;
        -webkit-animation: animatedBackground_b 15s linear infinite alternate;
            
    }
    
    @keyframes animatedBackground_b{
        0% {color: #ff8b00}
        10% {color: #e8ff00}
        20% {color: #5dff00}
        30% {color: #00ff2e}
        40% {color: #00ff88}
        50% {color: #0952f0}
        60% {color: #002eff}
        70% {color: #5d00ff}
        80% {color: #e800ff}
        90% {color: #ff008b}
        100% {color: #ff0000} }
 .box2{
            background-image:linear-gradient(0,#0a253b,#08093a);
            width: 100%;   
            height: 2000px;
            align-content: center;
        }
        .mtitle1{
            text-align: center;
            font-size: var(--font-font-size);
            font-family: 'Times New Roman', Times, serif;
            text-decoration: none;
            padding:0;
            -webkit-animation: animatedBackground_a 15s linear infinite alternate;
            
        }
        
        @keyframes animatedBackground_a{
            0% {color: #1a813c}
            10% {color: #145c97}
            20% {color: #2b108d}
            30% {color: #0c857f}
            40% {color: #0b5c81}
            50% {color: #070e66}
            60% {color: #210d7a}
            70% {color: #095b5e}
            80% {color: #0d3b80}
            90% {color: #0d1e68}
            100% {color: #25116e} 
            
        }
        :root{
            --text-color:#13e213;
            --font-font-size: 250%;
            --margin-margin-left:35% ;
            --clolor-2mau:linear-gradient(60deg,#107c0c,#06106b);
            --clolor-mau2:linear-gradient(75deg,#091eda,#13da0c);
            --clolor-mau3:linear-gradient(60deg,#24fa08,#08ffb5);
                    }
         :root{

         }
       
       ::selection{background-color: #04061f;}
       .box2a1 {
           width: 30%;
           height: 800px;
           background-image: var(--clolor-mau2);
           padding: auto;
           border-radius: 10px;
           border-color: #0952f0;
           margin-left: var(--margin-margin-left);
           margin-top: 40px;
       }
